.card-body{
    max-height: 597px;
    margin-bottom: 10px;
    overflow-y: auto;
    /* overflow:scroll; */
    -webkit-overflow-scrolling: touch;
}

.message {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.msg-container {
    border: 2px solid #dedede;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}
.light {
    background-color: #f1f1f1;
    margin-right: 80px;
}
/* Darker chat container */
.darker {
    border-color: #ccc;
    background-color: #ddd;
    margin-left: 80px;
}

/* Clear floats */
.msg-container::after {
    content: "";
    clear: both;
    display: table;
}
.msg {
    font-size:14px;
}
.fullname {
    font-size:14px;
}
.time-message{
    font-size:10px;
}
textarea {
    resize:none;
}